
@{
    ViewData["Title"] = "Anime Ratings";
}

<h1>Anime Ratings</h1>

<ul>
    <li>
       <a asp-controller="Animes" asp-action="Genre">Romance</a>
    </li>
    <li>
       <a asp-controller="Animes" asp-action="Genre">Fantasy</a>
    </li>
    <li>
       <a asp-controller="Animes" asp-action="Genre">Action</a>
    </li>
</ul>