
@{
    ViewData["Title"] = "Anime Ratings";
}

<h1>Anime Ratings</h1>

<section class="row card-group">
    <div class="col-lg-3 mb-3">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Animes" asp-action="Genre" asp-route-GenreName="Romance" class="btn btn-dark">Romance</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 mb-3">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Animes" asp-action="Genre" asp-route-GenreName="Fantasy" class="btn btn-dark">Fantasy</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-3">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Animes" asp-action="Genre" asp-route-GenreName="Action" class="btn btn-dark">Action</a>
            </div>
        </div>
    </div>
     <div class="col-lg-3 mb-3">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Animes" asp-action="Genre" asp-route-GenreName="Adventure" class="btn btn-dark">Adventure</a>
            </div>
        </div>
    </div>
</section>