@{
    ViewData["Title"] = "Anime Rating Site";
}

<div class="text-center">
    <h1 class="display-4">Anime Rating Site</h1>
    <p></p>
</div>


<!-- Anime Recommendations-->
<div>
    <h1>Anime Recommendations</h1>
    <ul>
        <li>Anime Recommendations</li>
        <li>add animes</li>
    </ul>
</div>

<div id="animeRecommendations" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Anime Recommendation 1 -->
        <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="" />
        </div>
        <!-- Anime Recommendation 2 -->
        <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="" />
        </div>
        <!-- Anime Recommendation 3 -->
        <div class="carousel-item active">
            <img src="" class="d-block w-100" alt="" />
        </div>
    </div>
</div>
