@{
    ViewData["Title"] = "Anime Rating Site";
}

<div class="text-center">
    <h1 class="display-4">Anime Rating Site</h1>
    <p></p>
</div>


<!-- Anime Recommendations -->
<div>
    <h1>Anime Recommendations</h1>
    <div id="animeRecommendations" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/animeRecommendations/autumn-anime-girl.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./img/animeRecommendations/anime-train.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./img/animeRecommendations/snow-anime-girl.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <!-- Prevoius button -->
        <button class="carousel-control-prev" type="button" data-bs-target="#animeRecommendations" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <!-- Next button -->
        <button class="carousel-control-next" type="button" data-bs-target="#animeRecommendations" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <p>This is a website produced for Assignment 2 for COMP2084G</p>
    <p>Below is what I plan to include later on in this project</p>
</div>
