html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table.sortable th:hover{
    cursor: pointer;
}

.sorttable_nosort:hover {
    cursor: default !important;
}

.thumbnail{
    height: 100px;
}

.navbar-dark{
    background-color:#ba2ce4;
}

a {
    color: #ba2ce4;
}

a:hover {
    color: #810ee8;
}